<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>web3Test</display-name>

	<servlet>
		<servlet-name>GuestList</servlet-name>
		<servlet-class>web3Test.GuestListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GuestList</servlet-name>
		<url-pattern>/guest/list</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GusetAdd</servlet-name>
		<servlet-class>web3Test.GuestAddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GusetAdd</servlet-name>
		<url-pattern>/guest/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GusetUpdate</servlet-name>
		<servlet-class>web3Test.GuestUpdateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GusetUpdate</servlet-name>
		<url-pattern>/guest/update</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>